/*--- Общие параметры для всплывающих окон на сайте ---*/

html,body{
	font-size: 11px;
	font-family: verdana;
	height:100%;
	margin:0;
	padding: 0;
	background: none;
}

img {
	border:0;
}

hr {
	color: #999;
	border: 0 none;
	border-top: dashed 1px #999;
	height: 1px;
}

input,
select,
textarea {
	outline:none;
}

form {
	margin:0;
	padding: 0;
}

table{
	border:0;
}

table td{
	padding:0;
	font-size: 11px;
	font-family: verdana;
}

a:active,
a:visited,
a:link {
	color: #4b719e;
	text-decoration:none;
	}

a:hover {
	color: #4b719e;
	text-decoration: underline;
	}

.navigation {
	color: #999898;
	font-size: 11px;
	font-family: tahoma;
}
.edit {
	border:1px solid #9E9E9E;
	color: #000000;
	font-size: 11px;
	font-family: Verdana;
	BACKGROUND-COLOR: #ffffff
}
select {
	color: #000000;
	font-size: 11px;
	font-family: Verdana; 
	border:1px solid #9E9E9E;
}

textarea {
	border: #9E9E9E 1px solid;
	color: #000000;
	font-size: 11px;
	font-family: Verdana; 
	background-color: #ffffff 
}

/*---Всплывающее окно подсказок для полей---*/

#hintbox{ /*CSS for pop up hint box */
	position:absolute;
	top: 0;
	background-color: lightyellow;
	width: 150px; /*Default width of hint.*/
	padding: 3px;
	border:1px solid #787878;
	font:normal 11px Verdana;
	line-height:18px;
	z-index:100;
	border-right: 2px solid #787878;
	border-bottom: 2px solid #787878;
	visibility: hidden;
}

.hintanchor{ 
	padding-left: 8px;
}

/*--- Дополнительные поля ---*/
.xprofile textarea {
	width: 100%;
	height:90;
	font-family:verdana;
	font-size:11px;
	border:1px solid #9E9E9E;
	background:#fff url(/Assets/Images/fields.png) repeat-x;
}
.xprofile input {
	width:250; height:18px; font-family:verdana; font-size:11px; border:1px solid #9E9E9E;background:#fff url(images/fields.png) repeat-x;
}

.bk {
	background:#fff url(/Assets/images/fields.png) repeat-x;
}

/*--- горизонтальное меню в окне загрузки файлов ---*/
.tabs {
	font: bold 11px/1.5em Verdana;
	float:left;
	width:100%;
	line-height:normal;
}
.tabs ul {
	margin:0;
	padding: 10px 10px 0 5px;
	list-style:none;
}
.tabs li {
	display:inline;
	margin:0;
	padding:0;
}
.tabs a {
	float:left;
	background:url("/Assets/Images/tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 7px;
	text-decoration:none;
}
.tabs a span {
	float:left;
	display:block;
	background:url("images/tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#6B78A9;
}

.tabs a span {float:none;}

.tabs a:hover span,
.tabs a.current span {
	color:#6B78A9;
}
.tabs a:hover,
.tabs a.current {
	background-position:0% -42px;
}

.tabs a:hover span,
.tabs a.current span {
	background-position:100% -42px;
}

/*--- блок загрузки файлов и загруженных файлов ---*/

.box {
	height: 300;
	border:1px solid #B3B3B3;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	background:#fff url(images/shadow.png) repeat-x;
	overflow: auto;
}

.uploadedfile {
	width: 115px;
	height: 130;
	margin: 10 5px 5px 5px;
	border:1px solid #B3B3B3;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	float: left;
	text-align: center;
	background:#ffffff;

}

.uploadimage {
	margin-top: 5px;
	width: 115px;
	height: 90;
	display: table-cell;
	text-align: center;
	vertical-align:middle;
}

.info {
	text-align: left;
	white-space: nowrap;
	margin: 0 5px 0 5px;
	overflow: hidden;
}

.button {
    padding:4px 10 4px 10;
    margin-left:2px;
    margin-top:5px;
    font: bold 11px/1.5em Verdana;color:#000000;
    background:#F9F9F9 url('images/button.png') repeat-x;
	border:1px solid #CACACA;
	cursor:pointer;
}

.properties {

	float: left;
    margin-top:8px;
}

.linkbox {
    margin-top:5px;
    padding:10;
	border:1px solid #B3B3B3;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	background:#fff url(images/shadow.png) repeat-x;
}

#file-uploader {
	min-height: 50;
}

#flash-uploader {
	min-height: 50;
}

#stmode {
	padding:10;
}

.file-box {
	width: 95%;
	border:1px solid #B3B3B3;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	background-color: #F5F5F5;
	padding: 10;
	margin-top: 10;
}

/*--- HTML5 загрузчик файлов ---*/

.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 310; 
    padding:4px 10 4px 10;
    margin-left:2px;
    margin-top:5px;
    font: bold 11px/1.5em Verdana;color:#000000;
    background:#F9F9F9 url('images/button.png') repeat-x;
	border:1px solid #CACACA;
	cursor:pointer;
}
.qq-upload-button-hover {outline:1px dotted black;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 50; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:0; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:2px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:none; background: url("images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

.progress {
    overflow:hidden;
    margin-top:10;
	margin-bottom:10;
    background-color:whitesmoke;
    height:10;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border-radius:8px;
    background:#eee;
    -webkit-box-shadow:0 1px 0 white, 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 4px rgba(0, 0, 0, 0.2) inset;
    box-shadow:0 1px 0 white, 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}
 .progress .progress-bar {
    float:left;
    width:0%;
    font-size:12px;
    line-height:20;
    color:white;
    text-align:center;
    background-color:#428bca;
    -webkit-box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition:width 0.6s ease;
    transition:width 0.6s ease;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border-radius:8px;
    -webkit-box-shadow:none;
    box-shadow:none;
    height:8px;
}
.progress-bar span{
    position:absolute;
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    overflow:hidden;
    clip:rect(0 0 0 0);
    border:0;
}
.progress-blue {
    background-image:-webkit-gradient(linear, left 0%, left 100%, from(#9bcff5), to(#6db9f0));
    background-image:-webkit-linear-gradient(top, #9bcff5, 0%, #6db9f0, 100%);
    background-image:-moz-linear-gradient(top, #9bcff5 0%, #6db9f0 100%);
    background-image:linear-gradient(to bottom, #9bcff5 0%, #6db9f0 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9BCFF5', endColorstr='#FF6DB9F0', GradientType=0);
    border:1px solid #55aeee;
}