*{box-sizing: border-box}

body {
	padding: 0;
	margin: 0;
	background: url(/Assets/Images/bg.jpg);
	text-align: center;
	font: 12px Arial;
	color: #373737;
}

h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
	font-size: 12px;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

.header{
  text-align: center;
}
.header a{
  display: inline-block;
}

.top-menu{
  display: flex;
  justify-content: space-between;
  background: #f77c41; /* Для старых браузров */
  background: linear-gradient(to top, #f77c41, #ed5635, #f6724b);
  height: 41px;
  position: relative;
}
.top-menu a{
  display: block;
  float: left;
  height: 41px;
  font: 14px PT Sans;
  color: #fff;
  line-height: 41px;
  background: url(/Assets/Images/top-menu-link.png) left center no-repeat;
  padding: 0 0 0 24px;
  margin: 0 18px 0 0;
}
.top-menu a:first-child{
  background: none;
}
.top-menu a:hover{
  text-decoration: underline;
}
.search-block {
  width: 235px;
  height: 31px;
  position: absolute;
  top: 6px;
  right: 9px;
  background: url(/Assets/Images/search-block.png) left top no-repeat;
}
.form-search {
  position: absolute;
  right: 0;
  top: 0;
}
.form-text {
  color: #b3b3b3;
  font-size: 12px;
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  position: absolute;
  left: 10px;
  top: 7px;
  width: 175px;
}

.main{
  display: flex;
}

.footer{
  position: relative;
  padding:  15px 210px 10px 210px;
}
.logo2{
  display: flex;
  justify-content: space-between;
}
.copyright{
  font-size: 11px;
  color: #595959;
  line-height: 15px;
}
.copyright a{
  color: #562618;
  text-decoration: underline;
}
.copyright a:hover{
  text-decoration: none;
}

.slider{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 1px;
  height: 300px;
}
.slider-image{
  overflow: hidden;
  width: 60%;
}
.slider-image img{
  height: 100%;
  max-height: 300px;
}
.slider-news{
  width: 35%;
  overflow: hidden;
  position: relative;
}
.slider-news-title span{
  display: block;
  height: 100%;
  background: #663e3e;
  font: bold 12px PT Sans;
  color: #fff;
  text-align: center;
  line-height: 24px;
}
.slider-news-mini{
  width: 100%;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.slider-news-mini + .slider-news-mini{
  background: url(/Assets/Images/point.png) 0 top repeat-x;
}
.slider-news-mini-title{
  font-size: 12px;
  color: #606060;
  font-weight: bold;
  line-height: 15px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  padding: 8px 0 0 0;
  margin: 0 0 6px 0;
  text-align: left;
}
.slider-news-mini-title:hover{
  color: #8d2d17;
}

.left-col{
  width: 70%;
  margin: 0 4px 0 0;
}
.left-item{
  background: #fcfbfa;
  padding: 10px 7px;
  margin: 0 0 6px 0;
}
.left-item-title{
  position: relative;
  border-bottom: 1px solid #e8e4e3;
  padding: 0 0 7px 0;
  font: bold 18px PT Sans;
  color: #5b3d3d;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.left-item-content{
  position: relative;
  right: 5px;
}

.right-col{
  width: 30%;
}
.right-item{
  background: #fff;
  padding: 10px 5px;
  margin: 0 0 6px 0;
  text-align: center;
}
.right-item-title{
  font: 19px PT Sans;
  color: #000;
  text-align: center;
  display: inline-block;
  margin: 0 0 15px 0;
}
.right-item-title img{
  vertical-align: -2px;
  margin: 0 10px;
}
.right-item-content{
  text-align: left;
}

.all{
  display: block;
  position: absolute;
  top: 6px;
  right: 5px;
  height: 15px;
  width: 155px;
  text-transform: none;
  font: 11px Arial;
  color: #d86c4a;
  text-decoration: underline;
}
.all:hover{
  text-decoration: none;
}

.prev1{
  background: url(/Assets/Images/prev-next1.png) left top no-repeat;
  width: 23px;
  height: 24px;
  display: block;
  position: absolute;
  top: -23px;
  left: 40%;
}
.prev1:hover{
  background: url(/Assets/Images/prev-next1.png) left bottom no-repeat;
}

.next1{
  background: url(/Assets/Images/prev-next1.png) right top no-repeat;
  width: 23px;
  height: 24px;
  display: block;
  position: absolute;
  top: -23px;
  left: 60%;
}
.next1:hover{
  background: url(/Assets/Images/prev-next1.png) right bottom no-repeat;
}

.menu-block{
  background: url(/Assets/Images/menu-block.png) right bottom no-repeat;
  position: relative;
  padding: 0 0 25px 0;
  top: 10px;
  margin: 0 15px 0 0;
}
.menu-item{
  position: relative;
  min-height: 35px;
  padding: 0 0 0 55px;
  font-size: 11px;
  color: #7c7c7c;
  margin: 0 10px 15px 50px;
}
.menu-item img{
  position: absolute;
  top: -10px;
  left: 0;
}
.menu-main-link{
  display: block;
  font-size: 12px;
  color: #5d4040 !important;
  text-decoration: none !important;
  font-weight: bold;
}
.menu-main-link:hover{
  text-decoration: underline !important;
}
.menu-item a{
  color: #7c7c7c;
  text-decoration: underline;
}
.menu-item a:hover{
  text-decoration: none;
}

.redaction-news-wrapper{
  display: flex;
  justify-content: space-around;
}
.redaction-news{
  width: 162px;
  border: 1px solid #e4e4e4;
  background: #f7f7f7;
  padding: 3px 5px 15px 5px;
  margin: 0 4px;
  position: relative;
  z-index: 100;
}
.redaction-news:hover{
  background: #fff;
}
.redaction-news-image{
  width: 150px;
  height: 95px;
  overflow: hidden;
  margin: 0 0 10px 0;
}
.redaction-news-image img{
  width: 150px;
  min-height: 95px;
}
.redaction-news h2 a{
  font: bold 14px PT Sans;
  color: #000;
  line-height: 15px;
  overflow: hidden;
  height: 30px;
  display: block;
  margin: 0 0 5px 0;
}
.redaction-news h2 a:hover{
  text-decoration: underline;
}
.redaction-news-content{
  font-size: 11px;
  color: #5a5a5a;
  line-height: 15px;
  height: 75px;
  overflow: hidden;
  text-align: left;
}

.recept{
  width: 124px;
  height: 34px;
  background: url(/Assets/Images/recept.png) 0 0 no-repeat;
  position: absolute;
  top: 65px;
  left: 17px;
  display: none;
}
.redaction-news:hover .recept{
  display: block;
}
.ingridien{
  width: 239px;
  height: 240px;
  background: url(/Assets/Images/ingridien.png) 0 0 no-repeat;
  position: absolute;
  top: -315px;
  left: -105px;
  display: none;
  padding: 20px 40px 75px 50px;
}
.ingridient-title{
  font: 19px PT Sans;
  color: #da5430;
  text-align: center;
  margin: 0 0 10px 0;
}
.ingridient-content{
  height: 170px;
  overflow: hidden;
  font-size: 12px;
  color: #484848;
  position: relative;
}
.ingridient-content br{
  display: none;
}
.ingridient-content span{
  display: block;
  padding: 5px 75px 0 0;
  margin: 0 0 5px 0;
  position: relative;
  background: url(/Assets/Images/ingridient-content.png) 0 top repeat-x;
}
.ingridient-content span:first-child{
  background: none;
}
.ingridient-content span i{
  display: block;
  float: right;
  font-style: normal;
  width: 75px;
  height: 15px;
  text-align: right;
  position: absolute;
  top: 5px;
  right: 0;
  overflow: hidden;
}
.recept:hover .ingridien{
  display: block;
}

/* слайдер с кнопками назад и далее */
#foo1, #foo2, #foo3{
	margin: 0 !important;
	padding: 0 !important;
}
#foo2{
	height: 440px !important;
	width: 685px !important;
	overflow: hidden;
}

.video-news-wrapper{
  display: flex;
  justify-content: space-around;
}
.video-news{
  position: relative;
  width: 205px;
  float: left;
  margin: 0 11px;
}
.video-news-image{
  width: 150px;
  height: 145px;
  margin: 0 0 30px 25px;
  overflow: hidden;
}
.video-news-image img{
  min-width: 150px;
  height: 145px;
}
.video-news-bg{
  width: 205px;
  height: 214px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/Assets/Images/video-news-bg.png) 0 0 no-repeat;
}
.video-news-link-img a{
  width: 150px;
  height: 145px;
  position: absolute;
  top: 0;
  left: 25px;
  display: block;
}
.video-news h2 a{
  font: bold 14px PT Sans;
  color: #bf3b11;
  text-decoration: underline;
  text-align: center;
  line-height: 15px;
  overflow: hidden;
  height: 30px;
  display: block;
  width: 150px;
  margin: 0 0 10px 25px;
  position: relative;
}
.video-news h2 a:hover{
  color: #000;
}

.main-news-wrapper{
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.bg-main-news{
  background: url(/Assets/Images/bg-main-news.png) 0 0 no-repeat;
  width: 322px;
  height: 206px;
  padding: 5px;
  float: left;
  margin: 0 5px 5px 5px;
}
.main-news{
  position: relative;
}
.main-news-image{
  width: 322px;
  height: 206px;
  overflow: hidden;
}
.main-news-image img{
  width: 322px;
  min-height: 206px;
}
.main-news-info{
  background: url(/Assets/Images/main-news-info.png);
  width: 270px;
  position: absolute;
  bottom: 15px;
  left: 7px;
  padding: 5px 10px 5px 10px;
}
.main-news-info h2 a{
  font: bold 16px PT Sans;
  color: #fff;
  display: block;

  overflow: hidden;
  line-height: 15px;
  margin: 0 0 5px 0;
}
.main-news-info h2 a:hover{
  text-decoration: underline;
}
.main-news-content{
  font-size: 11px;
  color: #fff;
  line-height: 15px;
  height: 45px;
  overflow: hidden;
}
.main-news:hover .main-news-hover{
  display: block;
}
.main-news-hover{
  display: none;
  width: 282px;
  height: 186px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/Assets/Images/main-news-hover.png) 0 0 no-repeat;
  padding: 20px 18px 0 22px;
}
.main-news-hover h2 a{
  font: bold 18px PT Sans;
  color: #fff;
  display: block;
  height: 25px;
  overflow: hidden;
  line-height: 25px;
  margin: 0 0 20px 0;
}
.main-news-hover h2 a:hover{
  text-decoration: underline;
}
.main-news-hover-content{
  font-size: 11px;
  color: #fff;
  line-height: 17px;
  height: 85px;
  overflow: hidden;
  margin: 0 0 10px 0;
}
.main-news-hover-more a{
  width: 106px;
  height: 27px;
  background: url(/Assets/Images/main-news-hover-more.png) 0 top no-repeat;
  display: block;
  font-size: 11px;
  color: #6e6e6e;
  text-align: center;
  line-height: 27px;
  overflow: hidden;
}
.main-news-hover-more a:hover{
  background: url(/Assets/Images/main-news-hover-more.png) 0 bottom no-repeat;
}

.top-news-block{
  background: url(/Assets/Images/point2.png) 0 bottom repeat-x;
  height: 75px;
  margin: 0 0 17px 40px;
  padding: 15px 0 0 75px;
  position: relative;
}
.top-news-block-image{
  width: 75px;
  height: 75px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -10px;
}
.top-news-block-image img{
  min-width: 75px;
  height: 75px;
}
.top-news-block-image a{
  background: url(/Assets/Images/img-hidden-topnews.png) 0 0 no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
}
.top-news-title{
  font: 15px PT Sans;
  color: #000;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  display: block;
  font-weight: bold;
}
.top-news-title:hover{
  color: #bf3b11;
}

.avtorization{
  background: url(/Assets/Images/avtorization.png) right bottom no-repeat;
  position: relative;
  padding: 0 0 50px 0;
  top: 10px;
  left: 5px;
}

/* Юзер-панель */

.left-block{
	text-align: center;
	padding: 15px 0 0 0;
	margin: 0 5px 0 0;
}

.left-block2{
	text-align: left;
	padding: 20px 0 30px 0;
}

	.login-pass{
		font: bold 12px Tahoma;
		color: #525252;
		text-align: left;
		margin: 0 0 5px 0;
	}


	.login-line {
		position: relative;
		background: url(/Assets/Images/login-line.png) 0 0 no-repeat;
		width: 155px;
		height: 31px;
		margin: 0 auto 10px;
	}

	.login-link {
		padding: 10px 0 10px 15px;
	}

		.login-link a {
			color: #6a6a6a;
		}

	.login-input-text {
		border: 0;
		margin: 0;
		position: absolute;
		left: 15px;
		top: 9px;
		background: none;
		padding: 0;
		width: 130px;
		font-size: 12px;
		color: #000;
	}

		.ava-cab{
			width: 100px;
			height: 121px;
			overflow: hidden;
			float: left;
			margin: 0 18px 0 25px;
		}

			.ava-cab img{
				max-width: 100px;
				max-height: 121px;
			}



	.l-link {
		float: left;
		font-size: 12px;
		color: #000;
		width: 115px;
		padding: 0 0 0 0;
	}

		.l-link a {
			display: block;
			color: #000;
			text-decoration: underline;
			font-weight: bold;
			line-height: 21px;
			text-align: left;
			background: none;
		}

			.l-link a:hover {
				color: #bf5538;
			}

			.lu-link{
				font: 19px PT Sans;
				font-weight: normal !important;
				position: absolute;
				display: block;
				width: 100px;
				bottom: 15px;
				left: 15px;
			}


	.enter {
		border: none;
		background: none;
		font: 19px PT Sans;
		color: #000;
		text-decoration: underline;
		cursor: pointer;
		line-height: 15px;
	}

		.enter:hover{
			text-decoration: none;
		}

	.lost-input-text {
		border: 1px #9e9e9e dotted;
		width: 200px;
		padding: 5px;
		color: #644217;
	}

	.reg-link {
		padding: 20px 0 15px 0;
		font-size: 11px;
		color: #828282;
	}

		.reg-link a {
			color: #828282;
			text-decoration: underline;
			display: block;
		}

			.reg-link a:hover {
				color: #d35e3c;
			}

.s-block-content input {
	background: #fff url(/Assets/Images/form-text.gif) left top repeat-x;
	margin: 5px 20px 0 0;
	color: #2e2e2e;
	border: 1px #d0d0d0 solid;
}

.s-block-content {
	padding: 10px;
}

/* ==================== Ссылка на скачивание прикрепленного файла */
.title-block  {
	font: 19px PT Sans;
	color: #000;
	margin: 0 10px 10px 10px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #efefef;
}

	.title-block  a {

	}

		.title-block a:hover {

		}

		.shot-text2 img {
			margin: 0 10px 5px 0;
			border: 0;
			max-width: 500px;
		}

		.shot-text input {
			margin: 5px 20px 0 0;
			background: #343434;
			color: #fff;
			font-size: 9px;
		}
		.shot-text2 input {
			margin: 5px 20px 0 0;
			background: #343434;
			color: #fff;
			font-size: 9px;
		}

		.mass_comments_action input {
			margin: 5px 20px 0 0;
			background: #454545;
			color: #fff;
			font-size: 9px;
		}

		.shot-text .editor_button img {
			padding: 0 !important;
			border: 0 !important;
			margin: 0;
		}
		.shot-text2 .editor_button img {
			padding: 0 !important;
			border: 0 !important;
			margin: 0;
		}

		.editor_button img {
			padding: 0 !important;
			border: 0 !important;
			margin: 0 !important;
		}

		.shot-text .editbclose img {
			padding: 0;
			border: 0;
			margin: 0;
		}
		.shot-text2 .editbclose img {
			padding: 0;
			border: 0;
			margin: 0;
		}

		.editor_button_brk img {
			padding: 0 !important;
			margin: 0 !important;
			border: 0 !important;
		}



/* Полная новость */
.speedbar{
	background: #464646;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 240px 5px 5px;
	margin: 0 0 18px 0;
}
	.speedbar a{
		color: #fff;
	}

		.speedbar a:hover{
			text-decoration: underline;
		}

.full-news {

}

	.full-news h1 {
		font: 19px PT Sans;
		color: #000;
		margin: 0 0 10px 0;
		padding: 0 0 10px 0;
		border-bottom: 1px solid #efefef;
	}

	.full-news-left{
		float: left;
		width: 330px;
		margin: 0 13px 0 0;
	}

		.ingridietn-repeat{
			background: url(/Assets/Images/ingridietn-repeat.jpg) 0 0 repeat-y;
		}

			.ingridietn-top{
				background: url(/Assets/Images/ingridietn-top.jpg) 0 top no-repeat;
			}

				.ingridietn-bottom{
					background: url(/Assets/Images/ingridietn-bottom.jpg) 0 bottom no-repeat;
				}


	.full-news-right{
		float: left;
		width: 305px;
	}

		.full-news-short-content{
			font-size: 12px;
			color: #595959;
			padding: 10px 0 0 0;
		}

			.full-news-short-content img{
				display: none;
			}

		.full-news-info{
			font-size: 12px;
			color: #595959;
			margin: 0 0 10px 0;
		}

			.full-news-info a{
				color: #b53c1a;
				text-decoration: underline;
			}

				.full-news-info a:hover{
					text-decoration: none;
				}

	.full-news-content {
		color: #000;
		line-height: 18px;
		font-size: 14px;
	}


		.full-item{
			font-size: 12px;
			color: #000;
			background: url(/Assets/Images/full-item.png) 0 bottom repeat-x;
			padding: 0 0 15px 0;
			margin: 0 0 15px 0;
			clear: both;
			min-height: 260px;
			line-height: 20px;
		}

			.full-item img{
				width: 308px;
				height: 232px;
				padding: 4px;
				color: #fff;
				border-radius: 3px;
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
				box-shadow: #ccc 0 0 4px 0;
				float: left;
				margin: 0 20px 0 0;
			}

		.full-news-content img {
			max-width: 308px;
		}

		.full-news-content a {
			color: #000;
			font-weight: bold;
		}

			.full-news-content a:hover {
				text-decoration: underline;
			}

	.rel-news {
		padding: 15px 0 0 0;
	}

		.rel-news h4 {
			font-weight: bold;
			color: #000;
			font-size: 14px;
			padding: 0 0 20px 0;
		}

/* Вид комментария */
.comment-block {
	clear: both;
	margin: 0 10px 10px 25px;
	position: relative;
	padding: 5px 5px 5px 135px;


}

	.comment-block-left {
		width: 119px;
		height: 84px;
		position: absolute;
		left: 5px;
		top: 5px;
		background: url(/Assets/Images/bg-comment-left.png) 0 0 no-repeat;
	}
		.hidden-coment{
			width: 50px;
			height: 60px;
			position: relative;
			overflow: hidden;
			top: 11px;
			left: 15px;
		}
		.hidden-coment img {
			max-width: 50px;
			max-height: 60px;

		}


	.comment-block-right {
		margin: 0 0 0 10px;
		position: relative;
		padding: 0 0 0 0;
	}

		.comment-block-right2 {

		}


			.comment-text {
				color: #252525;
				line-height: 17px;
				font-size: 12px;
			}

				.comment-text a {
					color: #000;
				}

					.comment-text a:hover {
						text-decoration: none;
					}

				.comment-text-title {
					padding: 0 0 5px 0;
					margin: 0 0 5px 0;
					color: #808080;
				}

					.comment-text-title a {
						color: #b53c1a;
						font: 18px PT Sans;
						font-weight: bold;
					}

						.comment-text-title a:hover {
							text-decoration: underline;
						}

				.comment-text-more {
					padding: 10px 0 0 0;
					font-size: 11px;
					color: #ccc;
				}

					.comment-text-more a {
						color: #a0a0a0;
					}

						.comment-text-more a:hover {
							color: #000;
						}

.comment-block .bbcodes, .mass_comments_action .bbcodes, .news-item-content .editor input, .news-item-content input {
	background: #fff;
	border: 1px #ccc solid;
	color: #333;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	margin: 0;
	cursor: pointer;
}

.mass_comments_action {
	display: none;
}

/* Добавление комментария */

.hidden-comment {

}

	.hidden-comment h3 {
		cursor: pointer;
		float: left;
		height: 42px;
		background: url(/Assets/Images/hidden-comment.png) left top no-repeat;
		padding: 5px 0 0 55px;
		font-size: 12px;
		text-decoration: underline;
		color: #b53c1a;
		width: 100px;
		font-weight: normal;
	}

		.hidden-comment h3:hover, .print-block a:hover{
			color: #000;
		}

	.print-block a{
		float: left;
		height: 42px;
		background: url(/Assets/Images/print.png) left top no-repeat;
		padding: 7px 0 0 55px;
		font-size: 12px;
		text-decoration: underline;
		color: #b53c1a;
		width: 100px;
		font-weight: normal;
		margin: 0 55px 0 0;
	}

	.fav-block{
		float: left;
		width: 180px;
		height: 49px;
		margin: 0 55px 0 5px;
	}

	.hidden-comment2 {
		background: url(/Assets/Images/hidden-comment.jpg) left bottom repeat-x !important;
	}

	.hidden-comment-form {
		display: none;
		clear: both;
	}

.add-coment-buttom {
	width: 100px;
	height: 30px;
	margin-right: 3px;
	color: #fff;
	border: 1px #2b2b2b solid;
}

.add-comment {
	clear: both;
	padding: 10px 10px 10px 0;
	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;

}

	.add-comment a {
		color: #2b80c1;
	}

	.login-close {
		background: url(/Assets/Images/login-close.png);
		width: 36px;
		height: 35px;
		cursor: pointer;
		position: absolute;
		right: 5px;
		top: 5px;
	}

.add-coment-buttom {
	width: 100px;
	height: 30px;
	margin-right: 3px;
	color: #fff;
	border: 1px #2b2b2b solid;
}

.add-comment {
	clear: both;
	padding: 10px;
	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;

}

	.add-comment a {
		color: #2b80c1;
	}

		.add-comment a:hover {

		}

	.add-comment-line {
		clear: both;
	}

		.add-comment-line-left {
			float: left;
			width: 90px;
			padding: 0 0 5px 0;
			height: 27px;
			line-height: 27px;
		}

		.add-comment-line-right {
			float: left;
			width: 500px;
			padding: 0 0 5px 0;
		}

			.add-comment-line-right input {
				border-radius:3px;
				-webkit-border-radius:3px;
				-moz-border-radius:3px;
				background: #fff;
				height: auto !important;
				padding: 5px 10px 5px 10px;
				border: 1px #e8e8e8 solid;
			}
.s-block .add-comment-line-left {
	width: 150px !important;
}

.s-block .add-comment-line-right {
	width: 400px !important;
}

.s-block .add-comment-line {
	padding: 0 0 10px 0;
}

.s-block .add-comment-line textarea {
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	background: #fff;
	height: auto !important;
	padding: 5px 10px 5px 10px;
	border: 1px #e8e8e8 solid;
	height: 200px !important;
}

/*
*****************************
Юзер инфа */
.user-info-table {
	width: 90%;
	margin: 0 00px 0 20px;

}

	.user-info-table td {
		padding: 5px 5px 20px 5px;
		text-align: left;
	}

		.user-info-table td small {
			font-size: 14px;
			color: #af86522;
			font-weight: bold;
		}

		.user-info-table td a {
			color: #ff863d;
		}

		.user-info-table td i {
			color: #bfbfbf;
		}

		.buttom-add-news {
			margin: 5px 20px 5px 0;
			background: #777777;
			color: #fff;
			border: 1px #2b2b2b solid;
		}

		.user-info-table input {
			background: url(/Assets/Images/form-text.gif);
			color: #2e2e2e;
			border: 1px #d0d0d0 solid;
		}


/* Инфо */
.error {
	padding: 10px;
	padding-bottom: 150px;
	background: url(/Assets/Images/error.png) center bottom no-repeat;
	text-align: center;
}

	.error p {
		font-size: 15px;
		font-weight: bold;
	}

	.error a {
		color: #7cad37;
	}

/* Статические страницы */
.ststststs {
	text-align: left;
	margin: 0 30px 0 30px;
}

	.ststststs-t {
		height: 40px;
		line-height: 35px;
		color: #fffdcc;
		margin: 0 30px 0 10px;
	}

		.ststststs-t h1 {
			margin: 0;
			padding: 0 0 0 50px;
			font-size: 14px;
		}

	.ststststs-c {
		padding: 20px;
	}

		.ststststs-c img {
			padding: 0 10px 10px 0;
			background: url(/Assets/Images/shadow.gif) right bottom;
			border: 0;
			margin: 10px 10px 10px 0;
		}

		.ststststs-c input {
			margin: 5px 20px 0 0;
			background: url(/Assets/Images/form-text.gif);
			color: #2e2e2e;
			border: 1px #d0d0d0 solid;
		}

	.ststststs-s {
		padding: 5px;
	}
		.ststststs-s a {
			color: #60360c;
		}

.s-block-content {
	padding: 10px;

}

	.s-block-content a {
		color: #871012;
	}


/* ПМ */
.imp {
	text-align: left;
	margin: 0 30px 0 30px;
}

	.imp input {
		margin: 5px 20px 0 0;
		background: url(/Assets/Images/form-text.gif);
		color: #2e2e2e;
		border: 1px #d0d0d0 solid;
	}

.pm-tititittile {
	padding: 10px 10px 10px 5px;
	font-weight: bold;
}

.new-PM {
	padding: 3px;
}

	.new-PM input {
		width: 250px;
		background: url(/Assets/Images/form-text.gif);
		color: #2e2e2e;
		border: 1px #d0d0d0 solid;
	}

	.new-PM span {
		width: 150px;
		margin-right: 20px;
		display: block;
	}

.pm-block {
	height: 30px;
	padding-left: 60px;
	line-height: 30px;
	font-weight: bold;
}

.pm-content {
	padding: 10px 5px 15px 5px;
}

	.pm-content a {
		color: #666666;
		font-weight: bold;
	}

.pm-block-menu {
	height: 50px;
	margin-bottom: 20px;
	line-height: 50px;
	padding-left: 0;
	font-size: 12px;
}

	.pm-block-menu a {
		color: #ff863d;
		font-weight: bold;
	}

.a-mess {
	border-top: 5px #fff solid;
	padding: 5px;
	color: #777777;
}

	.a-mess a {
		color: #4a4a4a;
		font-weight: bold;
	}

.theme-mess {
	background: #c6c6c6;
	padding: 5px;
	border-top: 5px #fff solid;
	color: #666666;
	font-weight: bold;
}

/* Результаты поиска и форма поика на главной */

	.ttfav {
		float: left;
		padding: 10px 0 0 0;
	}

	.ttfav-title {
		padding: 5px 0 5px 3px;
		font-weight: bold;
		color: #bbbbbb;
	}

/* Навигация по страницам */
.navigation {
	padding: 10px;
	clear: both;
}

	.navigation a {
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		background: url(/Assets/Images/navigation.jpg) left top repeat-x;
		height: 20px;
		line-height: 20px;
		float: left;
		padding: 0 9px 0 9px;
		font-weight: bold;
		text-decoration: none;
		color: #828282;
		margin: 0 5px 0 0;
		font-size: 11px;
	}

		.navigation a:hover {
			background: url(/Assets/Images/navigation.jpg) left bottom repeat-x;
			color: #fff;
		}

	.navigation span {
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		background: url(/Assets/Images/navigation.jpg) left bottom repeat-x;
		height: 20px;
		line-height: 20px;
		float: left;
		padding: 0 9px 0 9px;
		font-weight: bold;
		text-decoration: none;
		color: #fff;
		margin: 0 5px 0 0;
		font-size: 11px;
	}

.form-input-stand {
	background: url(/Assets/Images/form-text.gif);
	color: #2e2e2e;
	border: 0;
}

.shot-title {
	color: #61a0ff;
	padding: 5px;
}

	.shot-title h1 {
		font-size: 18px;
		padding-left: 10px;
	}

		.shot-title h1 i {

		}

@-moz-document url-prefix()
{

}

#searchtable input{
	max-width: 150px !important;
}
