<div class="left-item">
<div class="left-item-content" >
<div class="comment-block">
	<div class="comment-block-left">
		<div class="hidden-coment"><img src="{foto}" alt=""></div>
	</div>
	<div class="comment-block-right">
		<div class="comment-block-right2">
				<div class="comment-text">
					<div class="comment-text-title">
						<strong class="author">{author}</strong> написал:
					</div>
					{comment}[signature]<br /><br />--------------------<br /><div class="slink">{signature}</div>[/signature]<br />
					<div class="comment-text-more">{mass-action}[fast]цитировать[/fast] [spam]спам[/spam] [com-edit]изменить[/com-edit] [com-del]удалить[/com-del] [complaint]жалоба[/complaint]</div>
				</div>				
		</div>
	</div>
</div>
<div style="clear: both;height: 10px;"></div>
</div>
</div>