   <span class="grey">cтатус:</span> [online]<img src="/Assets/Images/online.png" style="vertical-align: middle;" title="Пользователь Онлайн" alt="Пользователь Онлайн" />[/online][offline]<img src="/Assets/Images/offline.png" style="vertical-align: middle;" title="Пользователь offline" alt="Пользователь offline" />[/offline]
	<table><tbody><tr>
        <td width="100" style="padding:4px;">Полное имя:</td>
        <td>{fullname}</td>
        <td rowspan="6" valign="top" align="right"><img src="{foto}" border="0"></td>
    </tr>
    <tr>
        <td style="padding:4px;">Группа:</td>
        <td>{status}</td>
    </tr>
    <tr>
        <td style="padding:4px;">Дата посещения:</td>
        <td>{lastdate}</td>
    </tr>
    <tr>
        <td style="padding:4px;">Дата регистрации:</td>
        <td>{registration}</td>
    </tr>
    <tr>
        <td style="padding:4px;">Публикаций:</td>
        <td>{news-num} [ {news} ]</td>
    </tr>
    <tr>
        <td style="padding:4px;">Комментариев:</td>
        <td>{comm-num} [ {comments} ]</td>
    </tr>
</tbody></table>