<div class="s-block">
	<div class="title-block">Поиск по сайту</div>
	<div class="s-block-content">
		<div id="searchtable" name="searchtable">{searchtable}</div>
		[searchmsg]
		<div><span class="sresult">&nbsp;&nbsp;{searchmsg}</span></div><br />
		[/searchmsg]
	</div>
</div>